<div class="card hoverable">
  <div class="card-image">
    <img src="https://scontent.cdninstagram.com/t51.2885-15/e35/14561903_315632678804855_9214883957412200448_n.jpg?ig_cache_key=MTM1NzIzNzYxODQxNjMxOTYwMw%3D%3D.2">
    <span class="card-title truncate">Leon Wright</span>
  </div>
  <div class="card-stacked">
    <div class="card-content">
      <p class="truncate">Ardenne High School</p>
      <small>Grade: 11</small>
    </div>
    <div class="card-action"><a href="#">View Profile</a></div>
  </div>
</div>
